---
import FormattedDate from "../components/FormattedDate.astro";
import { getBlogPosts } from "../content/config";
import { type LanguageKey, useTranslations } from "../i18n/utils";

type Props = { lang: LanguageKey };

const { lang } = Astro.props;
const posts = (await getBlogPosts())
    .filter((blog) => blog?.data?.lang === lang)
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, 3);
const t = useTranslations(lang);
---

<section id="latest-posts">
    <hgroup>
        <h2>{t("section.latest_posts.title")}</h2>
        <p>{t("section.latest_posts.description")}</p>
    </hgroup>
    {
        posts.map((post) => (
            <article>
                <h3 hidden aria-hidden="true">
                    {post.data.title}
                </h3>
                <hgroup>
                    <strong>{post.data.title}</strong> •{" "}
                    <em>
                        <FormattedDate lang={lang} date={post.data.pubDate} />
                    </em>
                    <p>{post.data.description}</p>
                </hgroup>
                <p>
                    <a
                        href={`/${lang || ""}/blog/${post.blog_slug}`}
                        aria-labelledby={post.id}
                    >
                        {t("section.latest_posts.read_more")}
                        <span id={post.id}>{post.data.title}</span>
                    </a>
                </p>
            </article>
        ))
    }
    <a href={`/${lang || ""}/blog`}>{t("section.latest_posts.view_all")}</a>
</section>
