---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { useTranslations, type LanguageKey } from "../i18n/utils";

type Props = {
  title: string;
  description: string;
  lang: LanguageKey;
};

const { title, description, lang } = Astro.props;
const t = useTranslations(lang);
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead
      lang={lang}
      title={title ? `${title} | ${t("site.title")}` : t("site.title")}
      description={description}
    />
  </head>
  <body class="container-fluid">
    <Header lang={lang} />
    <main>
      <slot />
    </main>
    <Footer lang={lang} />
    <script>
      const $favicon = document.querySelector(
        'link[rel="icon"]',
      ) as HTMLLinkElement;

      document.addEventListener("visibilitychange", () => {
        $favicon.href = document.hidden
          ? "/images/favicons/favicon-2.png"
          : "/images/favicons/favicon-1.png";
      });
    </script>
  </body>
</html>
